/* Alegreya Sans */
@font-face {
  font-family: 'Alegreya Sans'; font-style: normal; font-weight: 400; font-display: swap;
  src: url('/public/fonts/alegreya-sans-v21-latin-ext_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya Sans'; font-style: italic; font-weight: 400; font-display: swap;
  src: url('/public/fonts/alegreya-sans-v21-latin-ext_latin-400i.woff2') format('woff2');
}
@font-face {
  font-family: 'Alegreya Sans'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/public/fonts/alegreya-sans-v21-latin-ext_latin-700.woff2') format('woff2');
}

/* Alegreya */
@font-face {
  font-family: 'Alegreya'; font-style: normal; font-weight: 700; font-display: swap;
  src: url('/public/fonts/alegreya-v29-latin-ext_latin-700.woff2') format('woff2');
}
