html {
  font-family: "Alegreya Sans", sans-serif;
}
h1, h2, h3, .sidebar h1, .sidebar h2, .sidebar h3 {
  font-family: "Alegreya", serif;
  font-weight: 700;
}
h1 { font-size: 2.5rem; margin: 0; }
h2 { font-size: 2rem; }
h1 + h3 { margin-top: 0rem; }

.sidebar { padding: 20px; }
.sidebar-about { position: relative; }
.content { padding-top: 2rem; overflow-x: auto; }
table { font-variant-numeric: lining-nums tabular-nums; }
th, td { text-align: left; }
.right { text-align: right; }


table.cal {
  color: #000;
  font-size: 16px;
  line-height: 18px;
  table-layout: fixed;
  min-width: 700px;
}
table.cal tr th {
  border-bottom: 2px solid #666;
  width: 50px;
}
table.cal th + th { width: auto; }
table.cal tr td, table.cal tr th {
  background-color: #FFF;
  padding: 5px;
  text-align: center;
}
table.cal td.food,
table.cal td.play,
table.cal td.learn,
table.cal td.other { border: 1px double #666; }
table.cal .food  { background-color: #F4CCCC; }
table.cal .play  { background-color: #FFF2CC; }
table.cal .learn { background-color: #D9EAD3; }
table.cal .other { background-color: #CFE2F3; }

@media (max-width: 48em) {
  #hamburger {
    position: absolute;
    cursor: pointer;
    right: 0rem;
    top: 1rem;
  }
  #hamburger span {
    display: block;
    background-color: #999;
    width: 2rem;
    height: .25rem;
    margin-bottom: .5rem;
    border-radius: .1rem;
  }
  .sidebar {
    text-align: left;
  }
  .sidebar h1 {
    padding-right: 2.5rem;
    margin-bottom: 0;
  }
  .sidebar img,
  .sidebar nav {
    display: none;
  }
  .sidebar nav.show {
    display: block;
  }
}

@media (min-width: 48em) {
  #hamburger {
    display: none;
  }
  .sidebar {
    min-height: 1200px;
    text-align: right;
  }
  .sidebar h1 {
    display: none;
  }
}
