.sidebar {
  text-align: left;
}
.content {
  padding-top: 2rem;
}

@media (max-width: 48em) {
  #hamburger {
    position: absolute;
    cursor: pointer;
    right: 2rem;
    top: 3rem;
  }
  #hamburger span {
    display: block;
    background-color: #999;
    width: 2rem;
    height: .25rem;
    margin-bottom: .5rem;
    border-radius: .1rem;
  }
  .sidebar img,
  .sidebar nav {
    display: none;
  }
  .sidebar nav.show {
    display: block;
  }
}

@media (min-width: 48em) {
  #hamburger {
    display: none;
  }
  .sidebar {
    min-height: 1200px;
  }
}
