<table class="cal">

<tr>
<th>2. tyd</th>
<th>Sob 16.7.</th>
<th>Nie 17.7.</th>
<th>Pon 18.7.</th>
<th>Wto 19.7.</th>
<th>Śro 20.7.</th>
<th>Czw 21.7.</th>
<th>Pią 22.7.</th>
<th>Sob 23.7.</th>
<th>Nie 24.7.</th>
</tr>

<tr>
<td></td>
<td></td>
<td></td>
<td class="play" colspan="5">Maraton 6-10 (parowanie o 10)</td>
</tr>

<tr>
<td>08:00</td>
<td class="other" colspan="9">Hikaru no Go (kino), Pięć tybetańczyków + medytacja (8:15 przy siatkówce)</td>
</tr>

<tr>
<td>09:00</td>
<td class="food" colspan="9">Śniadanie</td>
</tr>

<tr>
<td>10:00</td>
<td class="play" rowspan="3">Memoriał runda 1</td>
<td class="play" rowspan="3">Memoriał runda 4</td>
<td class="learn" rowspan="2" colspan="5">Zajęcia w grupach</td>
<td class="play" rowspan="4">MPP rundy 3-4</td>
</tr>

<tr>
<td>11:00</td>
</tr>

<tr>
<td>12:00</td>
<td class="learn" rowspan="2" colspan="5">Zajęcia grupy dan</td>
</tr>

<tr>
<td>13:00</td>
<td class="food" colspan="2">Obiad</td>
</tr>

<tr>
<td>14:00</td>
<td class="play" rowspan="5">Memoriał runda 2-3</td>
<td class="play" rowspan="5">Memoriał runda 5-6</td>
<td class="food" colspan="6">Obiad</td>
</tr>

<tr>
<td>15:00</td>
<td class="play">Fantom 1</td>
<td class="play">Fantom 3</td>
<td class="play">Blitz: 1-2</td>
<td class="play">Blitz: 7-8</td>
<td class="play" rowspan="4">MPP rundy 1-2</td>
<td class="play" rowspan="2">MPP runda 5</td>
</tr>

<tr>
<td>16:00</td>
<td class="play">Fantom 2</td>
<td class="play">Fantom 4</td>
<td class="play">Blitz: 3-4</td>
<td class="play">Blitz: 9-10</td>
</tr>

<tr>
<td>17:00</td>
<td></td>
<td class="play">Fantom 5</td>
<td class="play">Blitz: 5-6</td>
<td class="learn" rowspan="2">Konkurs tsumego</td>
<td class="other" rowspan="2">Myjemy kamyczki</td>
</tr>

<tr>
<td>18:00</td>
</tr>

<tr>
<td>19:00</td>
<td class="food" colspan="8">Kolacja</td>
</tr>

<tr>
<td>20:00</td>
<td class="other">Licytacja</td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td class="learn" rowspan="2">2. Siasia wykład</td>
<td class="other" rowspan="2">Drugi szyfr</td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td class="other">Licytacja</td>
</tr>

<tr>
<td>21:00</td>
<td class="food">Ognisko</td>
<td class="food">Ognisko</td>
</tr>

</table>
