<div class="sidebar">
  <div class="container">
    <h1><a href="/"><img src="/public/lsg_logo.svg"></a></h1>

    <input id="menu-toggle" type="checkbox" />
    <div id="hamburger">
      <span id="line1"></span>
      <span id="line2"></span>
      <span id="line3"></span>
    </div>

    <nav class="sidebar-nav">
      <h3><a href="/english">No speak polisz?<br>See English info!</a></h3>

      <h3>Aktualnie</h3>
      <a class="sidebar-nav-item" href="/pogoda">Pogoda</a>
      <a class="sidebar-nav-item" href="/kalendarz">Kalendarz</a>
      <a class="sidebar-nav-item" href="https://discord.gg/9js9V4r3cx">Discord czat</a>
      <a class="sidebar-nav-item" href="/zarejestrowani">Zarejestrowani</a>
      <h3>Informacje ogólne</h3>
      <a class="sidebar-nav-item" href="/cennik">Cennik</a>
      <a class="sidebar-nav-item" href="/rejestracja">Rejestracja</a>
      <a class="sidebar-nav-item" href="/jak-dotrzec">Jak tu dotrzeć</a>
      <a class="sidebar-nav-item" href="/co-gdzie">Co gdzie jak</a>
      <a class="sidebar-nav-item" href="/turnieje">Turnieje</a>
      <a class="sidebar-nav-item" href="/faq">Pytania</a>
      <a class="sidebar-nav-item" href="/kontakt">Kontakt</a>
      <h3>Było nie było</h3>
      <a class="sidebar-nav-item" href="/2024">LSG 2024</a>
      <a class="sidebar-nav-item" href="/dawniej">Dawniej</a>
      <p></p>
      <p>&copy; {{ site.time | date: '%Y' }}. A takie tam.<br/>
      <a class="howto" href="/organizacja">Jak zrobić LSG?</a></p>
    </nav>
  </div>
</div>
