<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <img src="{{ site.baseurl}}/public/lsg_logo.png">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <h3>Informacje</h3>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Wstęp</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/turnieje/">Turnieje</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/cennik/">Cennik</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/faq/">FAQ</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/mapa/">Mapa</a>
      <h3>Rejestracja</h3>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/jak-sie-zarejestrowac/">Jak się zarejestrować</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/zarejestrowani/">Zarejestrowani</a>
      <h3>Linki i kontakt</h3>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/kontakt/">Kontakt do organizatora</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/linki/">Linki</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. A takie tam.</p>
  </div>
</div>
