<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="/"><img src="/public/lsg_logo.svg"></a>
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h1><a href="/">{{ site.title }}</a></h1>
    </div>

    <nav class="sidebar-nav">
      <h3><a href="/2020">&gt;&gt;&gt; LSG 2020 &lt;&lt;&lt;</a></h3>
      <h3><a href="/english">English info</a></h3>
      <h3>Informacje</h3>
      <a class="sidebar-nav-item" href="/">Wstęp</a>
      <a class="sidebar-nav-item" href="/turnieje">Turnieje</a>
      <a class="sidebar-nav-item" href="/kalendarz">Kalendarz</a>
      <a class="sidebar-nav-item" href="/cennik">Cennik</a>
      <a class="sidebar-nav-item" href="/mapa">Jak tu dotrzeć</a>
      <a class="sidebar-nav-item" href="/pogoda">Prognoza pogody</a>
      <a class="sidebar-nav-item" href="/faq">Pytania & odpowiedzi</a>
      <a class="sidebar-nav-item" href="/kontakt">Kontakt</a>
      <h3>Rejestracja</h3>
      <a class="sidebar-nav-item" href="/jak-sie-zarejestrowac">Jak się zarejestrować</a>
      <a class="sidebar-nav-item" href="/zarejestrowani">Lista zarejestrowanych</a>
      <h3>Było nie było</h3>
      <a class="sidebar-nav-item" href="/2019">LSG 2019</a>
      <a class="sidebar-nav-item" href="/2018">LSG 2018</a>
      <a class="sidebar-nav-item" href="/2017">LSG 2017</a>
      <a class="sidebar-nav-item" href="/2016">LSG 2016</a>
      <a class="sidebar-nav-item" href="/dawniej">Dawniej</a>

      <p></p>
      <p>&copy; {{ site.time | date: '%Y' }}. A takie tam.</p>
    </nav>
  </div>
</div>
